.special-offers {
  padding: 10px 30px;
}

.special-offers-title {
  font-size: 22px;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.special-offers-icon-wrapper {
  color: var(--strong-red-color);
  margin-right: 10px;
}

.special-offers-icon-wrapper i {
  margin-left: 5px;
}

.special-offers-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.offer {
  width: 49%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white-color);
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 5px;
  position: relative;
}

.offer-image-wrapper {
  /* width: 40%; */
  height: 100%;
}

.offer-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.offer-info {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
}

.offer-title {
  color: var(--primary-color);
  font-size: 21px;
  margin: 15px 0;
}

.offer-price {
  margin: 10px 0;
}

.offer-price-item {
  font-size: 22px;
  color: var(--strong-red-color);
  margin-right: 10px;
  text-decoration: line-through;
}

.offer-final-price-item {
  font-size: 22px;
  color: var(--primary-color);
}

.offer-see-more {
  font-size: 18px;
  font-weight: 500;
  color: var(--white-color);
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 2px 15px;
  margin-top: 5px;
  padding: 5px 10px;
}

.offer-discount {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--white-color);
  background-color: var(--info-color);
  font-weight: 300;
  font-size: 16px;
  border-radius: 10px;
  padding: 0 16px;
}

/* Media Queries */
@media (max-width: 1200px) {
  .offer-title{
    font-size: 17px;
  }
}
@media (max-width: 920px) {
 .offer {
  width: 100%;
 }
  
  .offer-title{
    font-size: 17px;
    margin-top: 30px;
  }

}
@media (max-width: 540px) {
 .special-offers {
  padding: 15px;
 }
  
  .offer-title{
    font-size: 17px;

  }
  .offer-discount{
    font-size: 18px;
  }
  .offer-see-more {
    font-size: 16px;
  }
}
@media (max-width: 450px) {
 .offer-see-more {
  padding: 5px;
  font-size: 14px;
 }

 /* ------- */
 .offer-image-wrapper {
  width: 40%;

}


.offer-info {

  width: 60%;
}

.offer-title {

  font-size: 18px;

}


}